.login {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  background-color: #f5f5f5;
}
.login > h1 {
  margin-bottom: 20px;
  font-size: large;
  font-weight: 500;
  font: 2em sans-serif;
}
.login > div {
  width: 500px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
